<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pi Estimator Web App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
            body {
                font-family: 'Inter', sans-serif;
            }

        </style>
    </head>
    <body class="bg-gray-100 dark:bg-gray-900 flex items-center justify-center min-h-screen p-4">
    <div>
       <div class="bg-white dark:bg-gray-700 p-8 md:p-12 rounded-2xl shadow-xl w-full max-w-2xl text-center">
        <h1 class="text-4xl font-extrabold mb-4 text-gray-800 dark:text-white md:text-5xl">About This Webapp</h1>
        <p class="text-lg text-gray-600 dark:text-gray-400">
            This web application estimates the value of Pi using the Monte Carlo method, a computational algorithm that relies on repeated
        random sampling to obtain numerical results.</p>
           <p class="text-lg text-gray-600 dark:text-gray-400 p-8">
            The core idea is to simulate random points within a square that encloses a circle. The ratio of points falling inside the circle
           to the total number of points is used to approximate the value of Pi. The more points you use, the more accurate the estimate will be.</p>


        <!--- Display results ------>
        <div class="mt-8 bg-blue-100 text-white p-4 rounded-lg border border-blue-400 dark:border-blue-600 dark:bg-blue-250 dark:text-blue-800">
            <h2 class="text-2xl font-extrabold mb-4 text-blue-800 dark:text-blue-800 md:text-3xl">Results</h2>
            <p class="text-lg text-gray-600 dark:text-gray-800">With {{ num_points }} points, the estimated value of pi is approximately: {{ pi_estimate }}</p>
        </div>
       </div>
       <div>
            <p class="text-sm text-gray-800 dark:text-white text-center">Made by John Wesley Mathis</p>
       </div>
    </div>
    </body>
</html>